
/*GENERAL STYLING for all elements*/
/*includes body fonts and stylings*/

body {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
}

.clear {
	clear: both;
}


/*LAYOUT*/
/*includes page structure and container alignment*/

#header {
  height: 300px;
  width: 100%;
  background-image: url("images/computerdesk2.jpg");
  background-size: cover
  background-repeat: no repeat;
}

.container {
	margin: 0 auto 0 auto;
	width: 1000px;
}



/*CSS for all elements in MAIN*/

.main {
	width: 600px;
	float: left;
	background: #FFF;
	padding: 0 25px 25px 10px;
	margin-right: 10px;
	font-size: 12px;
}

.main img {
  height: 450px;
  width: 500px;
  padding: 10px 0 10px 0;
}

.main h1 {
  font-size: 4em;
}

.main p {
  font-size: 1.325em;
  line-height: 30px;
}

.main a {
  text-decoration: none;
  color: blue;
}

.post h1 {
  padding-top: 0.5em;
}


/*CSS for all elements in the SIDEBAR*/

.sidebar {
	width: 200px;
	float: left;
	background: #FFF;
	padding: 25px;
}
